/* Footer */
.footer {
    background: var(--bg-dark);
    padding: 42px 0;
    color: var(--text-light);
  }
  
  .footer-content {
    max-width: 1249px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 44px;
  }
  
  .contact-title {
    font-size: 30px;
    font-weight: 500;
  }
  
  .contact-item {
    display: flex;
    gap: 36px;
    align-items: center;
  }
  
  .contact-text {
    font-size: 24px;
    font-weight: 400;
  }
  
  .newsletter {
    display: flex;
    flex-direction: column;
    gap: 37px;
  }
  
  .newsletter-title {
    font-size: 30px;
    font-weight: 500;
  }
  
  .newsletter-form {
    display: flex;
    gap: 33px;
  }
  
  .newsletter-input {
    background: #fff;
    border-radius: 3px;
    padding: 21px;
    font-size: 24px;
    border: none;
    flex: 1;
  }
  
  .newsletter-button {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 21px 19px;
    font-size: 24px;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .social {
    margin-top: 44px;
  }
  
  .social-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  .social-icons {
    display: flex;
    gap: 48px;
  }
  
  .footer-divider {
    height: 1px;
    background: var(--text-light);
    margin: 61px 0 22px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1402px;
    margin: 0 auto;
  }
  
  .footer-logo {
    font-size: 36px;
    font-weight: 900;
  }
  
  .copyright {
    font-size: 24px;
    font-weight: 300;
  }
  
  @media (max-width: 991px) {
    .header {
      max-width: 100%;
    }
    
    .logo {
      max-width: 100%;
      padding: 0 20px;
    }
    
    .nav {
      max-width: 100%;
      padding: 0 20px;
    }
    
    .hero {
      flex-direction: column;
      margin-top: 40px;
    }
    
    .hero-title {
      font-size: 40px;
    }
    
    .search-form {
      padding: 0 20px;
    }
    
    .search-button {
      padding: 0 20px;
    }
    
    .about {
      margin: 40px auto;
    }
    
    .how-it-works {
      padding: 0 20px 100px;
    }
    
    .features {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    
    .reviews {
      margin: 40px auto;
    }
    
    .review-grid {
      grid-template-columns: 1fr;
      gap: 40px;
    }
    
    .footer-content {
      flex-direction: column;
      gap: 40px;
      padding: 0 20px;
    }
  }