/* Header styles */
.header {
    position: relative;
    min-height: 985px;
    width: 100%;
  }
  
  .header-bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .logo {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--text-light);
    padding: 19px 70px;
    font-size: 36px;
    font-weight: 900;
  }
  
  .nav {
    position: relative;
    background-color: var(--text-primary);
    padding: 33px 70px;
    color: #fff;
  }
  
  .nav-list {
    display: flex;
    width: 804px;
    max-width: 100%;
    gap: 40px 78px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    font-size: 30px;
    font-weight: 300;
  }

  .horizontal-line {
    width: 100%;
    height: 9px; /* Толщина полосы */
    background-color: var(--primary); /* Цвет полосы */
    position: absolute;
    bottom: 0; /* Позиция полосы внизу */
    left: 0;
  }

   /* Hero section */
.hero {
    position: relative;
    margin: 253px auto 0;
    max-width: 1339px;
    width: 100%;
    display: flex;
    gap: 20px;
  }
  
  .hero-title {
    color: #fff;
    font-size: 72px;
    font-weight: 100;
    flex: 0 0 38%;
  }
  
  .hero-title strong {
    font-weight: 700;
  }
  
  .search-form {
    background-color: var(--bg-overlay);
    padding: 70px 21px;
    color: #fff;
    flex: 0 0 62%;

    display: flex;
    flex-direction: column;
  }
  
  .search-form-title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 23px;
  }
  
  .search-inputs {
    display: flex;
    gap: 5px;
    margin-bottom: 61px;

    justify-content: space-between;
  }
  
  .input-group {
    background: #fff;
    border-radius: 3px;
    padding: 15px 19px;
    display: flex;
    gap: 40px;
    align-items: center;

    flex: 1;
    position: relative;
  }
  
  .input-group input {
    border: none;
    font-size: 18px;
    color: var(--text-muted);

    width: 100%;
    box-sizing: border-box;
  }
  
  .input-group img {
    width: 21px;

    position: absolute; /* Абсолютное позиционирование для иконок */
    right: 10px; /* Отступ от правого края */
    top: 50%; /* Центрирование по вертикали */
    transform: translateY(-50%); /* Центрирование по вертикали */
  }
  
  .date-inputs {
    display: flex;
    gap: 60px;
    margin-bottom: 92px;

    justify-content: space-between;
  }
  
  .search-button {
    background: var(--primary);
    border-radius: 5px;
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 19px 70px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    border: 1px solid var(--primary);
  }

  .search-button:active {
    background: white;
    color: var(--primary);
    border: 1px solid var(--primary);
  }