/* Reviews section */
.reviews {
    margin: 152px auto;
    max-width: 1330px;
    width: 100%;
  }
  
  .review-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 134px;
  }
  
  .review-card {
    display: flex;
    gap: 20px;
  }
  
  .review-image {
    flex: 0 0 34%;
  }
  
  .review-content {
    flex: 1;
  }
  
  .review-author {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1em;
  }
  
  .review-text {
    color: var(--text-muted);
    font-size: 18px;
    line-height: 1.5;
  }
  
  .review-dots {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .dot {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--text-light);
  }
  
  .dot.active {
    background: rgba(196, 196, 196, 1);
  }